@font-face {
  font-family: roboto-example;
  font-weight: 400;
  font-style: normal;
  src: url("../webfonts/RobotoRegular/RobotoRegular.eot");
  src: url("../webfonts/RobotoRegular/RobotoRegular.eot?#iefix")
		  format('embedded-opentype'),
    url("../webfonts/RobotoRegular/RobotoRegular.woff") format('woff'),
    url("../webfonts/RobotoRegular/RobotoRegular.ttf") format('truetype');
}

@font-face {
  font-family: RobotoBold;
  font-weight: 700;
  font-style: normal;
  src: url("../webfonts/RobotoBold/RobotoBold.eot");
  src: url("../webfonts/RobotoBold/RobotoBold.eot?#iefix")
      format('embedded-opentype'),
    url("../webfonts/RobotoBold/RobotoBold.woff") format('woff'),
    url("../webfonts/RobotoBold/RobotoBold.ttf") format('truetype');
}

@font-face {
  font-family: roboto-example;
  font-weight: 700;
  font-style: normal;
  src: url("../webfonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../webfonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix")
      format('embedded-opentype'),
    url("../webfonts/RobotoCondensedBold/RobotoCondensedBold.woff") format('woff'),
    url("../webfonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format('truetype');
}

@font-face {
  font-family: roboto-example;
  font-weight: 200;
  font-style: normal;
  src: url("../webfonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../webfonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix")
      format('embedded-opentype'),
    url("../webfonts/RobotoCondensedLight/RobotoCondensedLight.woff") format('woff'),
    url("../webfonts/RobotoCondensedLight/RobotoCondensedLight.ttf")
      format('truetype');
}

@font-face {
  font-family: roboto-example;
  font-weight: 400;
  font-style: normal;
  src: url("../webfonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../webfonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix")
      format('embedded-opentype'),
    url("../webfonts/RobotoCondensedRegular/RobotoCondensedRegular.woff")
      format('woff'),
    url("../webfonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf")
      format('truetype');
}

@font-face {
  font-family: roboto-example;
  font-weight: 300;
  font-style: normal;
  src: url("../webfonts/RobotoLight/RobotoLight.eot");
  src: url("../webfonts/RobotoLight/RobotoLight.eot?#iefix")
      format('embedded-opentype'),
    url("../webfonts/RobotoLight/RobotoLight.woff") format('woff'),
    url("../webfonts/RobotoLight/RobotoLight.ttf") format('truetype');
}
