@font-face { src: url("../webfonts/Roboto/roboto-condensed-300.woff2") format("woff2"); font-family: RobotoCondensed-ft; font-weight: 300; font-style: normal; }
@font-face { src: url("../webfonts/Roboto/roboto-condensed-400.woff2") format("woff2"); font-family: RobotoCondensed-ft; font-weight: 400; font-style: normal; }
@font-face { src: url("../webfonts/Roboto/roboto-condensed-400-italic.woff2") format("woff2"); font-family: RobotoCondensed-ft; font-weight: 400; font-style: italic; }
@font-face { src: url("../webfonts/Roboto/roboto-condensed-700.woff2") format("woff2"); font-family: RobotoCondensed-ft; font-weight: 700; font-style: normal; }
@font-face { src: url("../webfonts/Roboto/roboto-300.woff2") format("woff2"); font-family: Roboto-ft; font-weight: 300; font-style: normal; }
@font-face { src: url("../webfonts/Roboto/roboto-400.woff2") format("woff2"); font-family: Roboto-ft; font-weight: 400; font-style: normal; }
@font-face { src: url("../webfonts/Roboto/roboto-400-italic.woff2") format("woff2"); font-family: Roboto-ft; font-weight: 400; font-style: italic; }
@font-face { src: url("../webfonts/Roboto/roboto-700.woff2") format("woff2"); font-family: Roboto-ft; font-weight: 700; font-style: normal; }

:root {
	--roboto: roboto-ft, sans-serif;
	--roboto-condensed: robotocondensed-ft, sans-serif;
	--systemfont: -apple-system, blinkmacsystemfont, arial, sans-serif;
}

::placeholder {
  color: #000;
}

::selection {
  background-color: #ec1c1c;
  color: #fff;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  font-family: var(--roboto);
  overflow-x: hidden;
  color: #000;
}

body input,
body textarea {
  border: #666 1px solid;
  outline: 0;
}

body input:required:valid,
body textarea:required:valid {
  border-color: green;
  background-color: #faffbd;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  border-color: #8b0000;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-responsive.img-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

a {
  outline: 0;
}

a:hover {
  text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-transform: uppercase;
}

.mm-menu {
  z-index: 200;
}

.mm-menu .fa {
  display: none;
}

.mobile-mnu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  background-color: #1a2028;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mobile-mnu a {
  position: relative;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgb(255 255 255 / 50%);
}

.mobile-mnu a i {
  padding-top: 4px;
  font-size: 24px;
}

.top-line {
  background-color: #1a2028;
  border-bottom: #2e3947 1px solid;
}

.top-line a {
  color: #fff;
  outline: 0;
}

.top-line li,
.top-line ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #1a2028;
}

.top-line .sf-menu {
  margin: 0 auto -8px;
  float: none;
  display: inline-block;
	font-family: var(--roboto-condensed);
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
  border-bottom: #2e3947 2px solid;
}

.top-line .sf-menu ul > li {
  border-bottom: #242c37 1px solid;
}

.top-line .sf-menu ul > li a {
  padding: 12px 17px;
  text-align: left;
  margin-top: 0;
}

.top-line .sf-menu li {
  background-color: transparent;
}

.top-line .sf-menu li a {
  color: #efefef;
  border: none;
  padding: 20px 25px;
}

.top-line .sf-menu li a svg {
	fill: #fff;
	width: 14px;
	height: 14px;
  margin-left: 3px;
}

.top-line .sf-menu li.active,
.top-line .sf-menu li:hover {
  background-color: #14191f;
}

.top-line .sf-menu li.active > a,
.top-line .sf-menu li:hover > a {
  text-decoration: none;
  color: #f9d02a;
}

.section-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a2028;
  opacity: 0.85;
}

.logo {
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2.5px;
  color: #f9d02a;
  text-transform: uppercase;
}

.logo:hover {
	text-decoration: none;
  color: #f9d02a;
  opacity: 0.85;
}

.logo .span,
.logo p {
  color: #999;
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 26px;
  font-weight: 700;
  padding: 0 20px;
  display: block;
}

.logo .span2 {
  display: none;
}

.map-ua {
  width: 400px;
  height: auto;
  text-align: center;
}

.self-pannel {
  padding: 10px 0;
  position: relative;
  letter-spacing: 0.4px;
}

.self-pannel-content {
  position: relative;
	font-family: var(--roboto-condensed);
  color: #fff;
  font-size: 13px;
	margin-top: 5px;
}

.self-pannel-box h4 {
  margin-top: 0;
  font-size: 14px;
  position: relative;
  margin-bottom: 10px;
  color: #999;
  letter-spacing: 0.6px;
}

.self-pannel-box h4::after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #f9d02a;
  position: absolute;
  left: 0;
  bottom: -9px;
  opacity: 0.4;
}

.self-pannel-box li,
.self-pannel-box ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.self-pannel-box li span,
.self-pannel-box ul span {
  color: #f9d02a;
	margin-left: 6px;
}

.self-pannel-box li {
	display: inline-flex;
  max-width: 100%;
  padding: 5px 10px 0 0;
}

.self-pannel-box svg {
	width: 16px;
	height: 16px;
  fill: #fff;
	justify-items: center;
	margin-right: 6px;
}

.top-phone {
  font-size: 14px;
}

.top-phone .icons {
  margin-right: 5px;
}

.top-phone a {
  color: #fff;
  position: relative;
  display: block;
  margin-top: 2px;
}

.top-phone a:hover {
  color: #f9d02a;
}

.top-phone span {
  font-size: 14px;
  color: #999;
  display: inline-block;
}

.top-email a {
  color: #fff;
  text-decoration: underline;
}

.top-email a:hover {
  text-decoration: none;
}

.top-email span {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.6px;
  color: rgb(255 255 255 / 50%);
}

.text-right {
  text-align: right;
}

.button {
  color: #000;
  background-color: #f9d02a;
	font-family: var(--roboto-condensed);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 24px;
  border: none;
  border-bottom: 3px solid #d1a906;
  border-radius: 5px;
  outline: 0;
  letter-spacing: 0.5px;
	position: relative;
}

.button svg {
	fill: #000;
	width: 17px;
	height: 17px;
	margin-right: 6px;
	margin-bottom: -3px;
}

.button:focus {
  outline: 0;
}

.button:hover {
  text-decoration: none;
  color: #000;
  background-color: #fbdb5c;
  border-bottom: 2px solid #fad952;
}

.button:active {
  background-color: #f9cb11;
}

.button-small {
  font-size: 14px;
}

.top-button {
  margin-top: 22px;
}

.button-order {
  font-weight: 700;
  background-color: #1d4a84;
  color: #fff;
  border-bottom: 3px solid #14335a;
}

.button-order:hover {
  color: #fff;
  background-color: #235aa1;
  border-bottom: 3px solid #245da5;
}

.button-green {
  background-color: #82c91e;
  border-bottom: 3px solid #679c1c;
}

.button-green svg {
	fill: #fff;
}

.button-green:hover {
  color: #fff;
  background-color: #8cda1f;
  border-bottom: 3px solid #8cda1f;
}

.pulse-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  padding: 10px;
  border: none;
  background: #82c91e;
  box-shadow: 0 5px 35px rgb(0 0 0 / 20%);
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  outline: 0;
  z-index: 1000;
}

.pulse-button__icon {
  display: block;
  width: 50px;
  transition: 0.3s;
}

.pulse-button__icon svg {
  color: #fff;
}

.pulse-button__text {
  display: block;
  width: 100%;
  height: 35px;
  font-size: 16px;
	font-family: var(--roboto-condensed);
  color: #fff;
  text-align: center;
  line-height: 1.2;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: 0.3s;
}

.pulse-button:hover .pulse-button__icon {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: 0.3s;
}

.pulse-button:hover .pulse-button__text {
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
  position: relative;
}

.pulse-button__rings {
  border: 1px solid #82c91e;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  border-radius: 50%;
  animation-duration: 2s;
  animation-name: pulse_1;
  animation-iteration-count: infinite;
  z-index: -1;
}

.pulse-button__rings:nth-child(2) {
  animation-name: pulse_2;
}

.pulse-button__rings:nth-child(3) {
  animation-name: pulse_3;
}
@keyframes pulse_1 {
  from {
    opacity: 1;
    transform: scale(0.9, 0.9);
  }

  to {
    opacity: 0;
    transform: scale(1.3, 1.3);
  }
}
@keyframes pulse_2 {
  from {
    opacity: 1;
    transform: scale(0.8, 0.8);
  }

  to {
    opacity: 0;
    transform: scale(1.5, 1.5);
  }
}
@keyframes pulse_3 {
  from {
    opacity: 1;
    transform: scale(0.8, 0.8);
  }

  to {
    opacity: 0;
    transform: scale(1.7, 1.7);
  }
}

.slider {
  box-shadow: rgb(255 255 255 / 5%) 0 0 0 6px;
  background-color: #efefef;
}

.slider .slide {
  float: left;
  width: 100%;
  position: relative;
  color: #000;
  padding: 20px;
}

.slider .slide .slide-content {
  padding-top: 30px;
  padding-bottom: 10px;
}

.slider .slide h2 {
	font-family: var(--roboto-condensed);
	font-weight: 300;
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #000;
}

.slider .slide p {
	font-family: 300;
  margin-bottom: 25px;
}

.slider .slide p span {
  font-weight: 900px;
  color: green;
}

.slider .slide .button {
  opacity: 0;
  transition: all 0.8s ease;
  margin-left: 40px;
}

.slider .slide-bg {
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider .slide-content {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.slider .slide.active .button {
  opacity: 1;
  margin-left: 0;
}

.slider .slide.active .slide-img-wrap img {
  opacity: 1;
  transform: scale(1);
}

.slider .slide.active .circles {
  transform: scale(1);
}

.slider .owl-nav {
  position: absolute;
  top: 77%;
  width: 100%;
}

.slider .owl-nav > div {
  position: absolute;
}

.slider .owl-nav > div > svg {
  width: 64px;
  height: 64px;
  fill: #ccc;
}

.slider .owl-nav > div:hover svg {
  fill: #0056b3;
}

.slider .owl-nav > div.owl-prev {
  right: 0;
  padding-right: 350px;
}

.slider .owl-nav > div.owl-next {
  right: 0;
  padding-right: 250px;
}

.slider .owl-dots {
  width: 100%;
  text-align: center;
  background-color: #efefef;
	padding: 40px 20px;
}

.slider .owl-dot {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  opacity: 1;
  border-radius: 10em;
  display: inline-block;
  margin: 0 10px;
	box-shadow: 10px 10px 5px #999;
  transition: background-color 0.5s ease, transform 0.5s ease,
    -webkit-transform 0.5s ease;
}

.slider .owl-dot.active {
  background-color: #f9d02a;
  transform: scale(1.6);
}

.slider .slide-img-wrap {
  max-width: 100%;
}

.slider .slide-img-wrap img {
  border-radius: 5px;
  width: 100%;
  height: auto;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.6s ease;
	box-shadow: 10px 10px 5px #999;
}

.slider .circles {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  transform: scale(0.8);
  transition: all 0.6s ease;
}

.slider .circle {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  margin: 5px 20px;
	font-family: var(--roboto-condensed);
  width: 300px;
  font-size: 28px;
  padding: 15px;
  display: flex;
  height: 300px;
  color: #fff;
  transition: opacity 0.2s ease;
	box-shadow: 10px 10px 5px #999;
}

.slider .circle-left {
  background: linear-gradient(#1d4a84, #060f1b, #1d4a84);
}

.slider .circle-right {
  background: linear-gradient(#ec1c1c, #7e0b0b, #ec1c1c);
}

.slider .circle:hover {
  color: #fff;
  opacity: 0.85;
}

.slider .circle:active,
.slider .circle:focus {
  opacity: 0.7;
}

.chat-room-item {
  padding-bottom: 20px;
}

.chat-room-question {
  box-shadow: 10px 10px 5px #999;
  padding: 9px;
  background: #f9d02a;
}

.accordion {
  margin-bottom: 60px;
}

.accordion-item__trigger i {
  color: #1d4a84;
  margin-right: 5px;
  transition: color 0.2s ease;
}

.accordion-item__trigger:hover i {
  color: #ec1c1c;
}

.accordion-item--active .accordion-item__content {
  display: block;
}

.accordion-item__content {
  display: none;
  padding: 20px;
}

.accordion-item__trigger:hover {
  cursor: pointer;
}

.sect-universal {
  background-color: #efefef;
  padding-bottom: 40px;
  padding-top: 30px;
  position: relative;
  background-size: cover;
  line-height: 20px;
}

.sect-algoritm {
  position: relative;
  background-size: cover;
  z-index: 1;
  padding: 100px 0;
  color: #fff;
}

.sect-algoritm::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a2028;
  opacity: 0.85;
  z-index: -100;
}

.sect-algoritm .self-item {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 50px 0;
  z-index: 200;
}

.sect-algoritm .self-item .col-md-2,
.sect-algoritm .self-item .col-md-4 {
  margin-top: 25px;
  margin-bottom: 20px;
}

.sect-algoritm .self-item .col-md-2:hover a,
.sect-algoritm .self-item .col-md-4:hover a {
  color: #f9d02a;
}

.sect-algoritm .self-item h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 28px;
  line-height: 34px;
  font-weight: 300;
}

.sect-algoritm .self-item .icon svg {
	width: 64px;
	height: auto;
	fill: #f9d02a;
	margin-bottom: 10px;
}

.sect-algoritm .self-item .text {
  line-height: 24px;
  margin: 10px 0;
}

.sect-algoritm .self-item .text span {
  letter-spacing: 0.4px;
  color: #fff;
	font-weight: 700;
}

.sect-algoritm .self-item .text span a {
  color: #f9d02a;
  text-decoration: underline;
  font-weight: 700;
}

.sect-algoritm .self-item .text span a:hover {
  color: #f9d02a;
  text-decoration: none;
}

.breadcrumbs {
  margin-bottom: 15px;
  margin-left: -10px;
}

.breadcrumbs li,
.breadcrumbs ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs li {
	font-family: var(--roboto-condensed);
  display: inline-block;
  font-size: 16px;
}

.breadcrumbs li a {
  display: inline-block;
  padding: 0 10px;
  position: relative;
  opacity: 1;
  color: #0056b3;
}

.breadcrumbs li a:hover {
  opacity: 0.8;
  color: #0056b3;
}

.breadcrumbs li a::after {
  content: '»';
  position: absolute;
  right: -6px;
  color: #ccc;
}

.breadcrumbs li.active {
  padding-left: 10px;
  color: #999;
}

.article-content {
  padding: 54px 0;
}

article p {
  text-indent: 15px;
  margin: 25px 0;
  line-height: 1.6;
  text-align: justify;
}

article .no-text-indent p {
  text-indent: 0;
}

article .date {
  color: #888;
  padding-bottom: 2px;
}

article img {
  display: block;
  max-width: 100%;
  height: auto;
}

article h2,
article h3,
article h4,
article h5 {
  line-height: 1.2;
}

article h4 {
  text-align: center;
  font-weight: 700;
}

article blockquote {
  padding: 30px;
  margin: 40px 0;
  font-size: 20px;
  border-top: #ddd 2px dotted;
  border-bottom: #ddd 2px dotted;
}

article ol,
article ul {
  padding-left: 30px;
}

article ol li,
article ul li {
  margin: 10px 0;
}

article video {
  margin: 30px 0;
}

article a {
  color: #0056b3;
}

article a:hover {
  color: #007bff;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.video iframe {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

main .content {
  background-color: #fff;
  padding: 60px 0;
  padding-bottom: 40px;
  background-size: cover;
}

main .content .main-aside .self-pannel-box {
  margin-bottom: 30px;
}

main .content .main-aside .self-pannel-box svg {
  position: absolute;
  margin-top: 5px;
	width: 22px;
	height: 22px;
  fill: green;
  opacity: 0.4;
}

main .content .main-aside .self-pannel-box h4 {
  margin-bottom: 20px;
  margin-top: 20px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

main .content .main-aside .mnu-self a {
  color: #000;
  font-size: 16px;
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 32px;
  text-transform: uppercase;
}

main .content .main-aside .mnu-self a:hover {
  color: #000;
  text-decoration: underline;
}

main .content .main-aside .mnu-self li {
  display: block;
  border-bottom: 1px solid #f0f0f0;
}

main .content .main-aside .mnu-self li.active a {
  color: #000;
  font-weight: 700;
  text-decoration: underline;
}

main .content .main-aside .service-item {
  margin-bottom: 20px;
}

main .content .main-aside .service-item-image::before {
  opacity: 0;
}

main .content .main-aside .service-item-image .far {
  opacity: 0;
}

main .content .sasha .service-item-image {
  min-height: 300px;
}

main .content .sasha .service-item-image::before {
  opacity: 0;
}

main .content .sasha .service-item-image .far {
  opacity: 0;
}

main .content .sasha .self-pannel-box h4 {
  margin-top: 0;
}

main .content .sasha .self-pannel-box-image {
  min-height: 420px;
}

main .content .sect-link {
  margin-top: 20px;
}

main .content .sect-link .link-item {
  border: none;
  margin-bottom: 8px;
  padding: 0;
}

main .content .sect-link i {
  font-size: 18px;
}

#feedback {
  color: #fff;
  padding-top: 30px;
	padding-bottom: 60px;
}

#feedback h2 {
  font-size: 32px;
  font-weight: 700;
}

#feedback p {
	margin-top: 10px;
  margin-bottom: 60px;
}

.sect-services {
  background-color: #f5f5f5;
}

.service-item {
  border: 5px #2e3947 solid;
  transition: border-top-color 0.5s ease;
  text-align: center;
  padding: 0 0 32px;
  background-color: #efefef;
}

.service-item:hover {
  border-top-color: #f9d02a;
}

.service-item:hover .service-item-image::before {
  opacity: 0;
}

.service-item:hover .service-item-image svg {
  opacity: 0.8;
}

.service-item:hover .service-item-icons svg {
  fill: #f9d02a;
}

.service-item-icons {
  margin-bottom: 80px;
}

.service-item-icons svg {
	margin-left: 2px;
	width: 16px;
	height: 16px;
  fill: #b4b4b4;
	transition: all 0.25s ease;
}

.service-item h4 {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 15px;
  padding: 0 10px;
  color: #000;
}

.service-item-image {
  min-height: 220px;
  background-size: cover;
  position: relative;
  display: block;
}

.service-item-image svg {
  position: absolute;
	width: 42px;
	height: 42px;
  fill: #fff;
  top: 45%;
  left: 48%;
  margin-left: -18px;
  margin-top: -10px;
  opacity: 0;
  transition: all 0.25s ease;
}

.service-item-image::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(15 15 15 / 87%);
  opacity: 0.4;
  transition: all 0.5s ease;
}

.sect-universal h2 {
  margin-top: 45px;
  margin-bottom: 35px;
  font-size: 32px;
  line-height: 34px;
  font-weight: 700;
}

.col-first {
  padding-bottom: 60px;
}

.sect-news {
  color: #fff;
  padding: 100px 0;
}

.sect-news .new-item {
  background-color: #efefef;
  padding: 1px 1px 32px;
  color: #000;
  text-align: center;
  margin: 20px 0;
}

.sect-news .new-item .new-item-text {
  margin-bottom: 40px;
}

.sect-news .new-item:hover .new-item-img::before {
  opacity: 0.3;
}

.sect-news .new-item:hover .new-item-img svg {
  opacity: 0.5;
}

.sect-news .new-item-img {
  min-height: 340px;
  background-size: cover;
  display: block;
  position: relative;
}

.sect-news-nohome .new-item-img {
  min-height: 280px;
}

.sect-news .new-item-img svg {
	position: absolute;
	width: 42px;
	height: 42px;
  fill: #fff;
  top: 45%;
  left: 48%;
  margin-left: -18px;
  margin-top: -10px;
  opacity: 0;
  transition: all 0.25s ease;
}

.sect-news .new-item-img::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(15 15 15 / 87%);
  opacity: 0.3;
  transition: all 0.25s ease;
}

.sect-news .new-item h4,
.sect-news .new-item p {
  padding: 0 5px;
}

.sect-news .new-item h4 {
  margin-top: 20px;
  padding: 0 40px;
  font-weight: 400;
  margin-bottom: 12px;
  font-size: 16px;
}

.sect-news .new-item .document h4 {
  padding: 0;
}

.date {
  display: block;
  margin-top: 40px;
  font-size: 14px;
  font-weight: 400;
	font-style: italic;
  opacity: 1;
  color: #000;
}

.preprint {
  display: block;
  margin-top: 20px;
  padding: 0 60px;
  padding-bottom: 15px;
  font-size: 16px;
  letter-spacing: 0.25px;
}

.aside-box {
  margin-bottom: 30px;
  text-align: center;
}

.aside-box .img-responsive {
  display: inline-block;
}

.sect-links {
  padding: 100px 0;
}

.sect-links .link-item {
  padding: 14px;
  box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 20%);
  background-color: #fff;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 20px 0;
}

.sect-links .link-item a:hover {
  text-decoration: underline;
}

.sect-links .link-item {
	display: inline-flex;
}

.sect-links .link-item a {
  font-size: 15px;
  color: #000;
  text-decoration: none;
  letter-spacing: 0;
}

.sect-links .link-item a span {
  font-weight: 700;
}

.sect-links .link-item svg {
	display: inline;
	width: 46px;
	height: 46px;
  margin-right: 10px;
  fill: #0056b3;
}

.likely-on-page .likely,
.likely-on-page .likely__widget {
  padding: 0;
  text-indent: 0 !important;
  list-style: none !important;
  font-weight: 400;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.likely-on-page .likely {
  position: relative;
  display: inline-block;
	opacity: 0;
  font-size: 0 !important;
	margin: 0 -5px -10px;
	top: -10px;
}

.likely-on-page .likely__widget {
	position: relative;
  white-space: nowrap;
  margin: 0;
  font-size: inherit;
	vertical-align: top;
  transition: background 0.33s ease-out, color 0.33s ease-out,
    fill 0.33s ease-out;
}

.likely-on-page .likely_visible {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.likely-on-page .likely > * {
  display: inline-block;
  visibility: hidden;
}

.likely-on-page .likely_visible > * {
  visibility: inherit;
}

.likely-on-page .likely__button,
.likely-on-page .likely__widget {
  display: inline-block;
}

.likely-on-page .likely__button,
.likely-on-page .likely__counter {
  text-decoration: none;
  text-rendering: optimizelegibility;
  margin: 0;
  outline: 0;
	line-height: inherit;
  cursor: inherit;
}

.likely-on-page .likely__button {
  position: relative;
  user-select: none;
}

.likely-on-page .likely__counter {
  display: none;
  position: relative;
  font-weight: 400;
	text-align: center;
}

.likely-on-page .likely_ready .likely__counter {
  display: inline-block;
}

.likely-on-page .likely_ready .likely__counter_empty {
  display: none;
}

.likely-on-page .likely__button,
.likely-on-page .likely__counter,
.likely-on-page .likely__icon {
  vertical-align: top;
}

.likely-on-page .likely__widget:active,
.likely-on-page .likely__widget:focus,
.likely-on-page .likely__widget:hover {
  transition: none;
  cursor: pointer;
}
@media (hover: none) {
  .likely-on-page .likely__widget:active,
  .likely-on-page .likely__widget:focus,
  .likely-on-page .likely__widget:hover {
    transition: background 0.33s ease-out, color 0.33s ease-out,
      fill 0.33s ease-out;
    cursor: unset;
  }
}

.likely-on-page .likely__icon {
  position: relative;
  text-align: left;
  display: inline-block;
}

.likely-on-page .likely svg {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 16px;
  height: 16px;
}

.likely-on-page .likely__button:empty {
  display: none;
}

.likely-on-page .likely .likely__widget {
  color: #000;
  background: rgb(231 231 231 / 80%);
  padding: 3px 3px 25px 6px;
	line-height: 20px;
  font-size: 14px;
  border-radius: 3px;
  height: 22px;
  margin: 0 5px 10px;
}

.likely-on-page .likely .likely__counter {
  background-size: 1px 1px;
  background-repeat: repeat-y;
  background-image: linear-gradient(
    to right,
    rgb(0 0 0 / 20%) 0,
    rgb(0 0 0 / 0%) 0.5px,
    rgb(0 0 0 / 0%) 100%
  );
	padding: 1px 4px 1px 6px;
}

.likely-on-page .likely-light .likely__widget {
  color: #fff;
  fill: #fff;
  background: rgb(236 236 236 / 16%);
  text-shadow: rgb(0 0 0 / 20%) 0 0 0.33em;
}

.likely-on-page .likely-light .likely__counter {
  background-image: linear-gradient(
    to right,
    rgb(255 255 255 / 40%) 0,
    rgb(255 255 255 / 0%) 0.5px,
    rgb(255 255 255 / 0%) 100%
  );
}

.likely-on-page .likely__widget_facebook {
  fill: #425497;
}

.likely-on-page .likely__widget_facebook:active,
.likely-on-page .likely__widget_facebook:focus,
.likely-on-page .likely__widget_facebook:hover {
  background: rgb(207 212 229 / 80%);
}
@media (hover: none) {
  .likely-on-page .likely__widget_facebook:active,
  .likely-on-page .likely__widget_facebook:focus,
  .likely-on-page .likely__widget_facebook:hover {
    background: rgb(231 231 231 / 80%);
  }
}

.likely-on-page .likely-light .likely__widget_facebook:active,
.likely-on-page .likely-light .likely__widget_facebook:focus,
.likely-on-page .likely-light .likely__widget_facebook:hover {
  text-shadow: #425497 0 0 0.25em;
  background: rgb(66 84 151 / 70%);
}
@media (hover: none) {
  .likely-on-page .likely-light .likely__widget_facebook:active,
  .likely-on-page .likely-light .likely__widget_facebook:focus,
  .likely-on-page .likely-light .likely__widget_facebook:hover {
    text-shadow: rgb(0 0 0 / 20%) 0 0 0.33em;
    background: rgb(236 236 236 / 16%);
  }
}

.likely-on-page .likely__widget_gplus {
  fill: #dd4241;
}

.likely-on-page .likely__widget_gplus:active,
.likely-on-page .likely__widget_gplus:focus,
.likely-on-page .likely__widget_gplus:hover {
  background: rgb(246 207 207 / 80%);
}
@media (hover: none) {
  .likely-on-page .likely__widget_gplus:active,
  .likely-on-page .likely__widget_gplus:focus,
  .likely-on-page .likely__widget_gplus:hover {
    background: rgb(231 231 231 / 80%);
  }
}

.likely-on-page .likely-light .likely__widget_gplus:active,
.likely-on-page .likely-light .likely__widget_gplus:focus,
.likely-on-page .likely-light .likely__widget_gplus:hover {
  text-shadow: #dd4241 0 0 0.25em;
  background: rgb(221 66 65 / 70%);
}
@media (hover: none) {
  .likely-on-page .likely-light .likely__widget_gplus:active,
  .likely-on-page .likely-light .likely__widget_gplus:focus,
  .likely-on-page .likely-light .likely__widget_gplus:hover {
    text-shadow: rgb(0 0 0 / 20%) 0 0 0.33em;
    background: rgb(236 236 236 / 16%);
  }
}

.likely-on-page .likely__widget_linkedin {
  fill: #0077b5;
}

.likely-on-page .likely__widget_linkedin:active,
.likely-on-page .likely__widget_linkedin:focus,
.likely-on-page .likely__widget_linkedin:hover {
  background: rgb(191 221 236 / 80%);
}
@media (hover: none) {
  .likely-on-page .likely__widget_linkedin:active,
  .likely-on-page .likely__widget_linkedin:focus,
  .likely-on-page .likely__widget_linkedin:hover {
    background: rgb(231 231 231 / 80%);
  }
}

.likely-on-page .likely-light .likely__widget_linkedin:active,
.likely-on-page .likely-light .likely__widget_linkedin:focus,
.likely-on-page .likely-light .likely__widget_linkedin:hover {
  text-shadow: #0077b5 0 0 0.25em;
  background: rgb(0 119 181 / 70%);
}
@media (hover: none) {
  .likely-on-page .likely-light .likely__widget_linkedin:active,
  .likely-on-page .likely-light .likely__widget_linkedin:focus,
  .likely-on-page .likely-light .likely__widget_linkedin:hover {
    text-shadow: rgb(0 0 0 / 20%) 0 0 0.33em;
    background: rgb(236 236 236 / 16%);
  }
}

.likely-on-page .likely__widget_odnoklassniki {
  fill: #f6903b;
}

.likely-on-page .likely__widget_odnoklassniki:active,
.likely-on-page .likely__widget_odnoklassniki:focus,
.likely-on-page .likely__widget_odnoklassniki:hover {
  background: rgb(252 227 206 / 80%);
}
@media (hover: none) {
  .likely-on-page .likely__widget_odnoklassniki:active,
  .likely-on-page .likely__widget_odnoklassniki:focus,
  .likely-on-page .likely__widget_odnoklassniki:hover {
    background: rgb(231 231 231 / 80%);
  }
}

.likely-on-page .likely-light .likely__widget_odnoklassniki:active,
.likely-on-page .likely-light .likely__widget_odnoklassniki:focus,
.likely-on-page .likely-light .likely__widget_odnoklassniki:hover {
  text-shadow: #f6903b 0 0 0.25em;
  background: rgb(246 144 59 / 70%);
}
@media (hover: none) {
  .likely-on-page .likely-light .likely__widget_odnoklassniki:active,
  .likely-on-page .likely-light .likely__widget_odnoklassniki:focus,
  .likely-on-page .likely-light .likely__widget_odnoklassniki:hover {
    text-shadow: rgb(0 0 0 / 20%) 0 0 0.33em;
    background: rgb(236 236 236 / 16%);
  }
}

.likely-on-page .likely__widget_pinterest {
  fill: #bd081c;
}

.likely-on-page .likely__widget_pinterest:active,
.likely-on-page .likely__widget_pinterest:focus,
.likely-on-page .likely__widget_pinterest:hover {
  background: rgb(238 193 198 / 80%);
}
@media (hover: none) {
  .likely-on-page .likely__widget_pinterest:active,
  .likely-on-page .likely__widget_pinterest:focus,
  .likely-on-page .likely__widget_pinterest:hover {
    background: rgb(231 231 231 / 80%);
  }
}

.likely-on-page .likely-light .likely__widget_pinterest:active,
.likely-on-page .likely-light .likely__widget_pinterest:focus,
.likely-on-page .likely-light .likely__widget_pinterest:hover {
  text-shadow: #bd081c 0 0 0.25em;
  background: rgb(189 8 28 / 70%);
}
@media (hover: none) {
  .likely-on-page .likely-light .likely__widget_pinterest:active,
  .likely-on-page .likely-light .likely__widget_pinterest:focus,
  .likely-on-page .likely-light .likely__widget_pinterest:hover {
    text-shadow: rgb(0 0 0 / 20%) 0 0 0.33em;
    background: rgb(236 236 236 / 16%);
  }
}

.likely-on-page .likely__widget_telegram {
  fill: #34abde;
}

.likely-on-page .likely__widget_telegram:active,
.likely-on-page .likely__widget_telegram:focus,
.likely-on-page .likely__widget_telegram:hover {
  background: rgb(204 234 246 / 80%);
}
@media (hover: none) {
  .likely-on-page .likely__widget_telegram:active,
  .likely-on-page .likely__widget_telegram:focus,
  .likely-on-page .likely__widget_telegram:hover {
    background: rgb(231 231 231 / 80%);
  }
}

.likely-on-page .likely-light .likely__widget_telegram:active,
.likely-on-page .likely-light .likely__widget_telegram:focus,
.likely-on-page .likely-light .likely__widget_telegram:hover {
  text-shadow: #34abde 0 0 0.25em;
  background: rgb(52 171 222 / 70%);
}
@media (hover: none) {
  .likely-on-page .likely-light .likely__widget_telegram:active,
  .likely-on-page .likely-light .likely__widget_telegram:focus,
  .likely-on-page .likely-light .likely__widget_telegram:hover {
    text-shadow: rgb(0 0 0 / 20%) 0 0 0.33em;
    background: rgb(236 236 236 / 16%);
  }
}

.likely-on-page .likely__widget_twitter {
  fill: #00b7ec;
}

.likely-on-page .likely__widget_twitter:active,
.likely-on-page .likely__widget_twitter:focus,
.likely-on-page .likely__widget_twitter:hover {
  background: rgb(191 237 250 / 80%);
}
@media (hover: none) {
  .likely-on-page .likely__widget_twitter:active,
  .likely-on-page .likely__widget_twitter:focus,
  .likely-on-page .likely__widget_twitter:hover {
    background: rgb(231 231 231 / 80%);
  }
}

.likely-on-page .likely-light .likely__widget_twitter:active,
.likely-on-page .likely-light .likely__widget_twitter:focus,
.likely-on-page .likely-light .likely__widget_twitter:hover {
  text-shadow: #00b7ec 0 0 0.25em;
  background: rgb(0 183 236 / 70%);
}
@media (hover: none) {
  .likely-on-page .likely-light .likely__widget_twitter:active,
  .likely-on-page .likely-light .likely__widget_twitter:focus,
  .likely-on-page .likely-light .likely__widget_twitter:hover {
    text-shadow: rgb(0 0 0 / 20%) 0 0 0.33em;
    background: rgb(236 236 236 / 16%);
  }
}

.likely-on-page .likely__widget_vkontakte {
  fill: #526e8f;
}

.likely-on-page .likely__widget_vkontakte:active,
.likely-on-page .likely__widget_vkontakte:focus,
.likely-on-page .likely__widget_vkontakte:hover {
  background: rgb(211 218 227 / 80%);
}
@media (hover: none) {
  .likely-on-page .likely__widget_vkontakte:active,
  .likely-on-page .likely__widget_vkontakte:focus,
  .likely-on-page .likely__widget_vkontakte:hover {
    background: rgb(231 231 231 / 80%);
  }
}

.likely-on-page .likely-light .likely__widget_vkontakte:active,
.likely-on-page .likely-light .likely__widget_vkontakte:focus,
.likely-on-page .likely-light .likely__widget_vkontakte:hover {
  text-shadow: #526e8f 0 0 0.25em;
  background: rgb(82 110 143 / 70%);
}
@media (hover: none) {
  .likely-on-page .likely-light .likely__widget_vkontakte:active,
  .likely-on-page .likely-light .likely__widget_vkontakte:focus,
  .likely-on-page .likely-light .likely__widget_vkontakte:hover {
    text-shadow: rgb(0 0 0 / 20%) 0 0 0.33em;
    background: rgb(236 236 236 / 16%);
  }
}

.likely-on-page .likely__widget_whatsapp {
  fill: #25d366;
}

.likely-on-page .likely__widget_whatsapp:active,
.likely-on-page .likely__widget_whatsapp:focus,
.likely-on-page .likely__widget_whatsapp:hover {
  background: rgb(200 244 216 / 80%);
}
@media (hover: none) {
  .likely-on-page .likely__widget_whatsapp:active,
  .likely-on-page .likely__widget_whatsapp:focus,
  .likely-on-page .likely__widget_whatsapp:hover {
    background: rgb(231 231 231 / 80%);
  }
}

.likely-on-page .likely-light .likely__widget_whatsapp:active,
.likely-on-page .likely-light .likely__widget_whatsapp:focus,
.likely-on-page .likely-light .likely__widget_whatsapp:hover {
  text-shadow: #25d366 0 0 0.25em;
  background: rgb(37 211 102 / 70%);
}
@media (hover: none) {
  .likely-on-page .likely-light .likely__widget_whatsapp:active,
  .likely-on-page .likely-light .likely__widget_whatsapp:focus,
  .likely-on-page .likely-light .likely__widget_whatsapp:hover {
    text-shadow: rgb(0 0 0 / 20%) 0 0 0.33em;
    background: rgb(236 236 236 / 16%);
  }
}

.likely-on-page .likely .likely__icon {
  width: 22px;
  height: 22px;
}

.likely-on-page .likely .likely__button {
	margin-left: 2px;
  opacity: 0.8;
  padding: 1px 8px 1px 1px;
}

.likely-on-page .likely-big {
  margin: 0 -6px -12px;
}

.likely-on-page .likely-big .likely__widget {
  line-height: 28px;
  font-size: 18px;
  border-radius: 4px;
  height: 32px;
  margin: 0 6px 12px;
}

.likely-on-page .likely-big .likely__icon {
  width: 32px;
  height: 32px;
}

.likely-on-page .likely-big .likely__button {
  padding: 2px 6px 2px 0;
}

.likely-on-page .likely-big .likely__counter {
  padding: 2px 6px;
}

.likely-on-page .likely-big svg {
  left: 4px;
  top: 4px;
  width: 24px;
  height: 24px;
}

.likely-on-page .likely-small {
  margin: 0 -4px -8px;
}

.likely-on-page .likely-small .likely__widget {
  line-height: 14px;
  font-size: 12px;
  border-radius: 2px;
  height: 18px;
  margin: 0 4px 8px;
}

.likely-on-page .likely-small .likely__icon {
  width: 18px;
  height: 18px;
}

.likely-on-page .likely-small .likely__button {
  padding: 2px 3px 2px 0;
}

.likely-on-page .likely-small .likely__counter {
  padding: 2px 3px;
}

.likely-on-page .likely-small svg {
  left: 3px;
  top: 3px;
  width: 12px;
  height: 12px;
}

.likely-on-page {
  margin-top: 20px;
}

.pagenav {
  margin-top: 90px;
  margin-bottom: 60px;
  display: block;
  text-align: center;
}

.pagenav a {
  color: #000;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.pagenav a:hover i {
  color: #f9d02a;
}

.pagenav a i {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: 2px;
  color: #0056b3;
}

.s_more {
  padding: 75px 0;
  background-color: #f5f5f5;
}

.pagination-section {
  padding: 75px 0;
  background-color: #fff;
}

.pagination-section-first {
  padding: 30px 0;
  background: 0 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #dfdfdf;
}

.pagination {
  padding-top: 12px;
}

.pagination a,
.pagination span {
  display: inline-block;
  margin-top: 5px;
  width: 42px;
  height: 42px;
  line-height: 40px;
  border: 2px solid #e5e5e5;
  border-radius: 10em;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #666;
  transition: border-color 0.25s ease, color 0.25s ease;
}

.pagination a:hover {
  border-color: #f9d02a;
  color: #f9d02a;
}

.pagination a.pagination-left,
.pagination a.pagination-right {
  color: #f9d02a;
}

.pagination span.active {
  border-color: #f9d02a;
  color: #f9d02a;
}

.pagination .pagination-left,
.pagination .pagination-right {
  border: none;
  font-size: 32px;
  width: 30px;
}

.main-footer {
  background-color: #0e0b13;
  padding: 100px 0;
  color: #fff;
  letter-spacing: 0.3px;
}

.main-footer .logo {
  color: #f9d02a;
  margin-bottom: 20px;
  text-align: left;
  font-style: normal;
}

.main-footer .logo .span {
	display: block;
	margin-bottom: 40px;
	margin-top: 20px;
	padding: 10px 0;
	font-size: 16px;
	font-weight: 300;
	text-transform: none;
}

.main-footer .triple-icons svg {
	width: 26px;
	height: 26px;
	fill: #f9d02a;
	opacity: 0.4;
  margin-bottom: 20px;
}

.main-footer .self-pannel-box {
	font-family: var(--roboto-condensed);
  margin-bottom: 40px;
  color: #999;
  font-size: 14px;
}

.main-footer .self-pannel-box svg {
  fill: #f9d02a;
	opacity: 0.4;
}

.main-footer .self-pannel-box h4 {
  margin-bottom: 20px;
  color: #fff;
}

.main-footer .top-email span {
	font-size: 16px;
	font-weight: 300;
	text-transform: none;
	display: block;
	margin-bottom: 60px;
}

.main-footer .mnu-self a {
  color: #999;
  font-size: 17px;
}

.main-footer .mnu-self li {
  display: block;
}

.main-footer .mnu-self li:hover svg {
  opacity: 1;
  fill: #f9d02a;
}

.bottom-footer {
  background-color: #0e0b13;
  padding: 40px 0;
  padding-top: 0;
}

.bottom-footer p {
  color: rgb(255 255 255 / 20%);
  font-size: 16px;
  margin: 5px;
  letter-spacing: 0.4px;
}

.bottom-footer .footer-copy {
  color: #999;
  font-size: 16px;
  letter-spacing: 0.4px;
}

.popup-form {
  background-color: #fff;
  max-width: 600px;
  position: relative;
  margin: auto;
  padding: 15px;
  letter-spacing: 0.4px;
}

.popup-form form {
  position: relative;
  margin-top: 20px;
}

.popup-form form label span {
  font-weight: 700;
  font-size: 18px;
}

.popup-form h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}

.popup-form p {
  text-align: center;
  font-size: 18px;
}

.popup-form p b {
  font-weight: 700;
}

.popup-form .form-control,
.popup-form textarea {
  font-size: 18px;
  height: 50px;
  width: 100%;
  padding: 4px 15px;
  margin-bottom: 15px;
  border: 3px double #f9d02a;
  border-radius: 5px;
}

.popup-form .form-control:focus::placeholder,
.popup-form textarea:focus::placeholder {
  color: transparent;
}

.popup-form textarea {
  height: 200px;
  margin-top: 40px;
  padding: 15px;
}

.popup-form .check-control .check-them {
  margin-right: 10px;
  padding-left: 5px;
}

.popup-form .check-control .check-them label {
  margin-left: 3px;
  font-size: 17px;
}

.popup-form .check-control .check-them input {
  cursor: pointer;
  margin-left: 3px;
}

.popup-form .message {
  margin-bottom: 10px;
}

.popup-form .button {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
}

.popup-form .success {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 40px;
  background-color: #efefef;
  color: #000;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 70% 10% 10%;
  display: none;
  opacity: 1;
}

.ajax {
  padding: 0;
  max-width: 100%;
  background-color: transparent;
}

.ajax h2 {
  margin: 0;
}

.ajax .button {
  float: right;
}

.callback-form .success {
  padding-top: 10%;
}

.mfp-gallery > div > button {
  border: 3px double #fff;
  opacity: 1;
  box-shadow: rgb(255 255 255 / 3%) 0 0 0 10px;
}

.mfp-gallery > div > button:hover {
  border-color: #f9d02a;
}

.mfp-counter {
  font-size: 20px;
  margin-top: 10px;
}

.mfp-close {
  font-size: 50px;
}

.mfp-close:active,
.mfp-close:focus,
.mfp-close:hover {
  outline: 0;
  color: #ec1c1c;
  cursor: pointer !important;
}

.map {
  max-height: 406px;
  border: 3px solid #f9d02a;
  transition: opacity 0.5s ease;
}

.social {
  font-size: 28px;
}

.social a:hover {
  text-decoration: none;
}

.social .fa-viber {
  color: green;
}

.social .fa-facebook-square {
  color: #00008b;
}

.social .fa-facebook-square:hover {
  color: #00f;
}

.read-more {
  margin-bottom: 30px;
}

.read-more-header {
  font-size: 22px;
  font-weight: 700;
  margin: 60px 0 20px;
}

.read-more li,
.read-more ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.read-more a {
  line-height: 1.3;
  font-size: 18px;
  display: inline-block;
  color: #000;
  margin: 8px 0;
  text-decoration: underline;
}

.read-more a:hover {
  color: #ec1c1c;
}
